.advantages__title {
  margin-bottom: 40px;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.advantages__item {
  padding-left: 80px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
