.button {
  display: block;
  padding: 11px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $ff-oswald;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-apple;
  border: none;
  cursor: pointer;

  @media (min-width: $vp-768) {
    padding: 10px 26px;

    font-size: 20px;
    line-height: 20px;
  }
}

.button-pagination {
  display: block;
  padding: 10px;

  font-weight: 400;
  font-size: $fz-default;
  line-height: 20px;
  font-family: $ff-oswald;
  text-align: center;
  color: $color-charcoal;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-white-smoke;
  border: none;
  cursor: pointer;
}
