.choice {
  display: flex;
  flex-wrap: wrap;
}

.choice__label {
  position: relative;

  display: inline-block;
  min-height: 30px;
  padding-left: 45px;

  cursor: pointer;

  @media (min-width: $vp-768) {
    min-height: 40px;
    padding-left: 60px;
  }

  @media (min-width: $vp-1024) {
    width: 100%;

    padding-left: calc(40px + 4%);
  }

  &--checkbox {
    @media (min-width: $vp-1024) {
      padding-left: calc(40px + 8%);
    }
  }

  &:hover .choice__radio,
  &:hover .choice__checkbox {
    border-color: $color-silver;
  }

  &:focus .choice__radio,
  &:focus .choice__checkbox {
    border-color: $color-silver;
  }

  &:active .choice__radio,
  &:active .choice__checkbox {
    border-color: $color-silver;
    outline: none;
  }
}

.choice__radio {
  position: absolute;
  top: 0;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid $color-very-light-grey;
  border-radius: 50%;

  @media (min-width: $vp-768) {
    width: 40px;
    height: 40px;
  }
}

.choice__checkbox {
  position: absolute;
  top: 0;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid $color-very-light-grey;

  @media (min-width: $vp-768) {
    width: 40px;
    height: 40px;
  }
}

.choice__name {
  display: block;
  padding-top: 6px;

  color: $color-nero;
}

.choice__input:checked + .choice__radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 13px;
  height: 13px;

  background-color: $color-apple;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);

  @media (min-width: $vp-768) {
    width: 18px;
    height: 18px;
  }
}

.choice__input:checked + .choice__checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 30px;
  height: 30px;

  background-image: url("../img/svg/check.svg");
  background-repeat: no-repeat;
  background-position: 50%;

  @media (min-width: $vp-768) {
    width: 40px;
    height: 40px;

    background-size: 26px 26px;
  }
}

.choice__input:disabled ~ .choice__radio,
.choice__input:disabled ~ .choice__name,
.choice__input:disabled ~ .choice__checkbox {
  opacity: 0.3;

  pointer-events: none;
}

.choice__input:focus + .choice__radio,
.choice__input:focus + .choice__checkbox {
  border: 1px solid $color-silver;
}
