.example {
  padding: 25px 0 40px 0;
  overflow: hidden;
  background-color: $color-whisper-2;

  @media (min-width: $vp-768) {
    padding: 0 0 100px 0;

    background-color: transparent;
  }

  @media (min-width: $vp-1024) {
    padding-bottom: 0;
  }
}

.example__wrapper {
  max-width: 470px;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    max-width: unset;
    margin: 0;
  }

  @media (min-width: $vp-1024) {
    display: grid;
    grid-template-columns: 1fr 560px;
    gap: 10px;
  }
}

.example__text-wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    margin-bottom: -27px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 0;
  }
}

.example__title {
  margin-bottom: 40px;

  @media (min-width: $vp-768) {
    margin-bottom: 63px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 76px;
  }
}

.example__content-wrapper {
  @media (min-width: $vp-1024) {
    position: relative;
    max-width: 446px;
    padding: 70px 2% 74px 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100vw;
      z-index: -1;

      width: 200vw;
      height: 100%;

      background-color: $color-whisper-2;
    }
  }
}

.example__text {
  margin-bottom: 20px;

  @media (min-width: $vp-768) {
    margin: 0;
    margin-bottom: 54px;
    max-width: unset;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 69px;
  }
}

.example__list-wrapper {
  margin-bottom: 20px;

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 99px;
  }

  @media (min-width: $vp-1024) {
    display: block;
    margin-bottom: 0;
  }
}

.example__list {
  display: grid;
  max-width: 320px;
  margin: 0 auto 10px auto;

  gap: 11%;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $vp-768) {
    width: 100%;
    max-width: none;
    margin: 0;
    gap: 8%;

    grid-template-columns: repeat(auto-fill, 162px);
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 20px;
    gap: 10%;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 162px;
}

.example__term {
  order: 1;
  width: 81px;
  height: auto;

  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  font-family: $ff-lato;
  text-align: center;
  text-transform: lowercase;
  color: $color-charcoal;

  background-color: $color-whisper-2;
  transform: translateY(-9px);

  @media (min-width: $vp-768) {
    width: max-content;
    max-width: 146px;
    padding: 9px;
    transform: translateY(-16px);

    font-size: 14px;
    line-height: 14px;

    background-color: $color-default-white;
  }

  @media (min-width: $vp-1024) {
    background-color: $color-whisper-2;
    padding: 9px 6%;
  }
}

.example__definition {
  margin: 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: $ff-oswald;
  color: $color-default-black;
  text-transform: uppercase;
  width: 100%;
  text-align: center;

  padding: 13px 14px 17px 14px;

  border: 1px solid $color-very-light-grey;
  border-radius: 3px;

  @media (min-width: $vp-768) {
    font-size: 30px;
    line-height: 37px;
    padding: 15px 14px 18px 14px;
  }

  @media (min-width: $vp-1024) {
    padding: 15px 4% 16px 4%;
  }
}

.example__cost {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $ff-oswald;
  text-align: center;
  color: $color-default-black;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    min-width: 176px;
    padding-top: 11px;

    font-size: 20px;
    text-align: end;
  }

  @media (min-width: $vp-1024) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 327px;
  }
}

.example__cost-text:not(:last-child) {
  @media (min-width: $vp-768) {
    margin-bottom: 10px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 0;
  }
}


.example__comparison {
  position: relative;

  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    width: 560px;
    height: 512px;
  }

  @media (min-width: $vp-1024) {
    margin: 1px 0 0 auto;
  }

  &::before {
    @media (min-width: $vp-768) {
      content: "";
      position: absolute;
      top: 151px;
      left: -100vw;

      width: 200vw;
      height: 100%;

      background-color: $color-whisper-2;
    }

    @media (min-width: $vp-1024) {
      display: none;
    }
  }
}

.example__image-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  pointer-events: none;
}

.example__image {
  width: auto;
  max-width: none;
  height: 100%;
}

.example__image-container--after {
  width: 125px;
}

.example__image-container--before {
  right: 0;
  left: unset;

  & .example__image {
    position: absolute;
    right: 0;
  }
}

.example__slider {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;

  width: 40px;
  height: 100%;
  padding: 0;

  color: $color-dim-gray;

  background-color: transparent;
  border: none;
  outline: none;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.9;

  pointer-events: auto;

  &:hover {
    color: $color-apple;
  }

  &:hover .example__slider-thumb {
    background-color: $color-apple;
  }

  &:focus,
  &:active {
    color: rgba($color-limeade, 0.6);
  }

  &:focus .example__slider-thumb,
  &:active .example__slider-thumb {
    background-color: rgba($color-limeade, 0.6);
  }
}

.example__slider-thumb {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;

  display: block;
  width: 4px;
  height: 100%;

  background-color: $color-dim-gray;
  border-radius: 2px;
  transform: translateX(-50%);
}

.example__slider-image {
  position: relative;
  z-index: 3;
}
