.main-content__programs {
  margin-bottom: 20px;

  @media (min-width: $vp-768) {
    margin-bottom: 45px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 71px;
  }
}

.main-content__advantages {
  margin-bottom: 49px;

  @media (min-width: $vp-768) {
    margin-bottom: 43px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 69px;
  }
}

.main-content__catalog {
  margin-bottom: 25px;

  @media (min-width: $vp-768) {
    margin-bottom: 68px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 75px;
  }
}

.main-content__sub-catalog {
  margin-bottom: 35px;

  @media (min-width: $vp-768) {
    margin-bottom: 69px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 0;
  }
}

.main-content__bonus {
  margin-bottom: 35px;

  @media (min-width: $vp-768) {
    margin-bottom: 76px;
  }

  @media (min-width: $vp-1024) {
    margin-bottom: 0;
    margin-right: 79px;
  }
}

.main-content__wrapper {

  @media (min-width: $vp-1024) {
    margin-bottom: 86px;
    display: grid;
    grid-template-columns: auto 245px;
    gap: 6%;
  }
}
