.main-content__programs {
  margin-bottom: 20px;
}

.main-content__advantages {
  margin-bottom: 49px;
}

.main-content__catalog {
  margin-bottom: 25px;
}

.main-content__sub-catalog {
  margin-bottom: 35px;
}

.main-content__bonus {
  margin-bottom: 35px;
}
