.main-content__programs {
  margin-bottom: 20px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 45px;
  }

  @media (min-width: $vp-desktop) {
    margin-bottom: 71px;
  }
}

.main-content__advantages {
  margin-bottom: 49px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 43px;
  }

  @media (min-width: $vp-desktop) {
    margin-bottom: 69px;
  }
}

.main-content__catalog {
  margin-bottom: 25px;
}

.main-content__sub-catalog {
  margin-bottom: 35px;
}

.main-content__bonus {
  margin-bottom: 35px;
}
