.nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald M", "Arial", sans-serif;
  text-transform: uppercase;
}

.nav__item {
  position: relative;

  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;

    width: calc(100% + 40px);
    height: 1px;

    background-color: $color-whisper;
  }
}

.nav__link {
  display: block;
  padding: 22px 20px 24px 20px;

  color: $color-default-black;
  text-decoration: none;
}

.nav__toggle {
  position: absolute;
  top: 20px;
  right: 0;

  width: 24px;
  height: 24px;
}
