.sub-catalog {
  position: relative;
}

.sub-catalog__title {
  position: relative;
  z-index: 1;
  margin-bottom: 36px;

  line-height: 24px;

  @media (min-width: $vp-768) {
    margin-bottom: 80px;
  }


  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    z-index: -1;

    width: calc(100vw - 20px);
    min-width: calc($vp-320 - 20px);
    height: 2px;

    background-color: $color-apple;

    @media (min-width: $vp-768) {
      left: -100vw;
      width: 200vw;
    }

    @media (min-width: $vp-1440) {
      width: 200vw;
      left: -100vw;
    }
  }
}

.sub-catalog__title-inner {
  padding-right: 21px;
  background-color: $color-default-white;

  @media (min-width: $vp-768) {
    padding: 0 36px;
  }

  @media (min-width: $vp-1440) {
    padding: 0 35px 0 40px;
    transform: translateX(-40px);
  }
}


.sub-catalog__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.sub-catalog__item {
  padding: 13px 0 19px 0;

  border-bottom: 1px solid $color-very-light-grey;

  @media (min-width: $vp-768) {
    padding: 26px 38px 28px 38px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:first-child {
      border-top: 1px solid $color-very-light-grey;
    }
  }

  @media (min-width: $vp-1440) {
    padding: 15px 0 17px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 246px;
    gap: 15px;
  }
}

.sub-catalog__product-title {
  margin-bottom: 13px;

  line-height: 16px;

  @media (min-width: $vp-768) {
    margin-bottom: 0;
  }
}

.sub-catalog__product-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $vp-768) {
    margin-bottom: 0;
    min-width: 50%;
    justify-content: flex-end;
  }

  @media (min-width: $vp-1440) {
    min-width: none;
    justify-content: flex-start;
  }
}

.sub-catalog__product-tare,
.sub-catalog__product-price {
  max-width: 50%;
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: $ff-lato;

  @media (min-width: $vp-768) {
    font-size: $fz-default;
    line-height: 20px;
  }
}

.sub-catalog__product-tare {
  padding-right: 10px;

  @media (min-width: $vp-768) {
    padding-right: 0;
    margin-right: 15px;
  }

  @media (min-width: $vp-1440) {
    width: 229px;
  }
}

.sub-catalog__link {
  @media (min-width: $vp-768) {
    width: 100%;
    margin-top: 22px;
    font-size: $fz-default;
  }
}
