.text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $ff-lato;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: $fz-default;
    line-height: 24px;
  }
}

.input-text {
  margin: 0;

  font-weight: 400;
  font-size: $fz-default;
  line-height: 18px;
  font-family: $ff-oswald;
  color: $color-charcoal;
  text-transform: uppercase;
}
