.main-title {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $color-default-black;
}

.index-sub-title {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $color-default-black;
}

.sub-title {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $color-default-black;
}

.product-title {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $color-default-black;
  text-transform: uppercase;
}
