.user-goal__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.user-goal__item {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 0;

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.user-goal__input-label {
  padding-left: 45px;
}

.user-goal__input-name {
  display: block;

  color: $color-nero;
}
