.container {
  width: 100%;
  min-width: $vp-mobile;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1220px;

  @media (min-width: $vp-tablet) {
    padding: 0 30px;
  }

  @media (min-width: $vp-desktop) {
    max-width: $vp-desktop;
    padding: 0 110px;
  }
}
