// Colors
//---------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;

// Project palette
$color-whisper-1: #e6e6e6;
$color-whisper-2: #eaeaea;
$color-whisper-3: #ebebeb;
$color-whisper-4: #e7e7e7;
$color-gainsboro: #d9d9d9;
$color-light-gray: #d3d3d3;
$color-very-light-grey: #cdcdcd;
$color-white-smoke: #f2f2f2;
$color-silver: #bababa;
$color-apple: #68b738;
$color-limeade: #5eaa2f;
$color-light-coral: #ff8282;
$color-charcoal: #444444;
$color-dim-gray: #666666;
$color-nero: #222222;


// Typography
//----------------

$fz-default: 16px;
$ff-oswald: "Oswald", "Arial", sans-serif;
$ff-lato: "Lato", "Arial", sans-serif;

// Viewports
//----------------

$vp-320: 320px;
$vp-768: 768px;
$vp-1024: 1024px;
