// Colors
//---------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;

// Project palette
$color-whisper: #e6e6e6;
$color-whisper-2: #eaeaea;
$color-whisper-3: #ebebeb;
$color-whisper-4: #e7e7e7;
$color-gainsboro: #d9d9d9;
$color-very-light-grey: #cdcdcd;
$color-white-smoke: #f2f2f2;
$color-apple: #68b738;
$color-charcoal: #444444;
$color-dim-gray: #666666;
$color-nero: #222222;


// Typography
//----------------

$fz-default: 16px;
$ff-default: "Oswald", "Arial", sans-serif;
$ff-text: "Lato", "Arial", sans-serif;

// Viewports
//----------------

$vp-mobile: 320px;
$vp-tablet: 768px;
$vp-desktop: 1440px;
